*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    text-decoration: none;
}
html,body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

main{
    background: linear-gradient(178.68deg, #4F3963 -2.24%, #764469 31.33%, #5E3E66 76.25%, #2C2142 94.12%);
}
header{
    width: 1520px;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header button{
    font-size: 18px;
    color: #FCFCFC;
    line-height: 20px;
    cursor: pointer;
}
header button:nth-of-type(2){
    padding: 10px 38px;
    border-radius: 5px;
    border: solid 2px white;
}
header button:hover{
    color: #FFD9D9 ;
    border-color: #FFD9D9 ;
}
header button:active{
    color: #FFD9D9 ;
    border-color: #FFD9D9 ;
}
nav{
    display: flex;
    gap: 40px;
    z-index: 10;
}
.banner{
    background: linear-gradient(252.43deg, #D45B78 0.01%, #4B3862 101.01%);
    width: 100%;
    height: 100vh ;
    margin-top: -192px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@keyframes bubblesLEFT {
    0%  {
    transform: rotate(0);
    }
    100%{
        transform: rotate(-30deg);
    }
    
}
@keyframes bubblesRITE {
    0% {
        transform: rotate(0);
        }
     100%{
          transform: rotate(30deg);
      }
      
  }

.banner::before{
    content: url(../img/head-decoreit1.svg);
    position: absolute;
    left: 128px;
    bottom: 109px;
    animation: bubblesLEFT 3s linear infinite alternate;

}
.banner::after{
    content: url(../img/head-decore2.svg);
    position: absolute;
    right: 87px;
    bottom: 31px;
    animation: bubblesRITE 3s linear infinite alternate;
}
.banner h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #FCFCFC;
    margin-top: -60px;
}
.banner p{
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;
}
.banner button{
    background-color: #D75C78;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    padding: 17px 55px;
    color: white;
    cursor: pointer;
}
.banner button:hover{
    background-color: #DF4C6E;
}
.banner button:active{
    background-color: #C83E5D;
}
.image_callmar{
    margin-top: 60px;
}
.install{
    width: 1520px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}
.install_left,
.install_ritgh{
    display: flex;
    flex-direction: column;
    gap: 160px;

}
.install_left{
    margin-top: 460px;
}
.install_left::after{
    content: url(../img/diver-l.svg);
    position: absolute;
    margin-bottom: -160px;
}
.install_ritgh::before{
    content: url(../img/diver-r.svg);
    margin-top: 111px;
    margin-bottom: -160px;
}
.install_item{
    width: 738px;
    height: 308px;
    border-radius: 5px;
    padding: 87px 62px 112px 125px;

    display: flex;
    flex-direction: column;
    gap: 27px;
    color: white;
    background-color: #523A64;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 10px 45px -9px #00000040;

}
 .install_left .install_item:nth-child(1)::before{
    content: "01";
    font-size: 96px;
    color: #944B6E;
    font-weight: bold;
    position: absolute;
    left: -18px;
    top: 43px;
}
.install_left .install_item:nth-child(2)::before{
    content: "03";
    font-size: 96px;
    color: #944B6E;
    font-weight: bold;
    position: absolute;
    left: -18px;
    top: 43px;
}
.install_ritgh .install_item:nth-child(1)::before{
    content: "02";
    font-size: 96px;
    color: #944B6E;
    font-weight: bold;
    position: absolute;
    left: -18px;
    top: 43px;
}
.install_ritgh .install_item:nth-child(2)::before{
    content: "04";
    font-size: 96px;
    color: #944B6E;
    font-weight: bold;
    position: absolute;
    left: -18px;
    top: 43px;
}
.media{
    color: white;
    margin-left: 10%;
    margin-bottom: 70px;
}
.media iframe{
    width: 100%;
    height: 668px;
}





.pic{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 350px;

}
.card-section{
    padding: 650px 0;
}
.cards{
    display: grid;

    grid-template-columns: 1fr 1fr;
 
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.card_type1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fon1.svg);
    color: white;
}
.card_type1::before{
    content: "";
    width: 100%;
    height: 200px;
    display: block;
    background-size: cover;
    background-position: center;
}
.loga,
.text,
 button{
    padding: 30px 80px;
}